<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Database Results</h2>

<ul>
  <!-- for each of the object in results -->
    <% results.forEach(function(r) { %>
        <li> id: <%= r.id %> - name: <%= r.name %> - email: <%= r.email %> </li>
    <% }); %>
</ul>

</div>

</body>
</html>
